openai-whisper
update
ffmpeg-python
moviepy==2.0.0.dev2
imageio
pysrt==1.1.2
gTTS
pydub
langchain_core
langchain_groq
langchain_community
pypdf
yt_dlp
fastapi
streamlit
python-multipart
uvicorn
datetime 
